* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #FFD700; 
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-top: 30px;
    font-size: 28px;
}

p {
    font-size: 18px;
    color: #666;
}

section {
    margin: 40px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}



/* Styles pour la gestion des soirées */
.table-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.create-button-container {
    margin-left: 20px;
}

.create-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-button-container button:hover {
    background-color: #FFD700;
}

#creer-soiree-form {
    margin-top: 20px;
}

#creer-soiree-form label {
    display: block;
    margin-bottom: 10px;
}

#creer-soiree-form input[type="text"],
#creer-soiree-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#creer-soiree-form input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#creer-soiree-form input[type="submit"]:hover {
    background-color: #FFD700;
}

/* Style pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

th {
    background-color: #4CAF50; /* Couleur d'arrière-plan pour l'en-tête */
    color: white; /* Couleur du texte pour l'en-tête */
    padding: 10px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Couleur d'arrière-plan pour les lignes paires */
}

/* Style pour le bouton */
.button-container {
    margin: 20px 0;
    text-align: right;
}

.button {
    background-color: #4CAF50; /* Couleur d'arrière-plan */
    color: white; /* Couleur du texte */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049; /* Couleur au survol */
}

.retour-button {
    margin-right: 20px; /* Espacement à droite du bouton */
}
