:root {
    --primary-color: #6963b6; /* couleur principale */
    --primary-color-hover: #433c9c; /* couleur au survol */
    --text-color: white;
}




nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;

    min-width: 800px; /* largeur minimale pour éviter la probleme */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



th {
    background-color: var(--primary-color);
    color: var(--text-color);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-hover);
}

.accueil {
    background-image: url('../image/background-montagne.jpg');
    background-size: cover;
    background-position: center;
}